<nav class="navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="details">
      <div class="logo">
        <img
          src="assets/img/rewardz-logo.svg"
          alt="Logo"
          title="logo"
          class="logo-img"
        />
      </div>
      <div class="icons">
        <div class="notification">
          <button type="button" class="btn btn-primary position-relative">
            <i class="fa-solid fa-bell"></i>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              99+
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
          <button type="button" class="btn btn-primary position-relative">
            <i class="fa-solid fa-globe"></i>
          </button>
          <div class="profile">
            <img src="assets/img/profile.webp" alt="profile" title="profile" class="profile-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
