<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1 class="heaading">Search</h1>
      <div class="form-group search-input form-control">
        <div class="search-icon">
            <img src="assets/img/Searchbar.svg" alt="">
        </div>
        <input
          type="search"
          name="search"
          id="search"
          class="form-control search"
          placeholder="search"
        />
      </div>
      <div class="filters mt-3">
        <h3 class="sub-head">Applied Filters : </h3>
        <div class="filter">
            <p class="mb-0">e-Voucher</p>
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="filter">
            <p class="mb-0">Clear Filters</p>
            <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3">side bar</div>
    <div class="col-md-9">contents</div>
  </div>
</div>
