<div class="footer bg-light">
    <div class="container data">
        <div class="logo">
            <div class="img">
                <img src="assets/img/rewardz-logo.svg" alt="logo" title="logo">
            </div>
            <p class="year">© 2024</p>
        </div>
        <div class="version">
            <h2><strong>Version</strong></h2>
            <div class="year">2.2.2</div>
        </div>
        <div class="about mt-5">
            <h2><strong>About</strong></h2>
            <ul class="list">
                <li>Contact Us</li>
                <li>Privacy</li>
                <li>Terms of use</li>
            </ul>
        </div>
    </div>
</div>